body {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.left {
    width: 50%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time {
    font-size: 20vw;
    font-weight: bold;
}
.right {
    width: 50%;
    height: 100%;
    background: #ccff00;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.sec {
    font-size: 32vw;
}
.ampm {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 4vw;
    font-weight: bold;
}
